.offer-wrap{
    width: 100%;
    padding: 3rem;
    background-color: #EEE;
    .offer-wrap-inner{
        max-width: 520px;
        margin: 0 auto;
        text-align: center;
        .offer-wrap-title{
            font-size: $size-text-xxl;
            padding: 2rem;
        }
        .offer-wrap-link{
            padding: 2rem;
            a{
                color: $TERTIARY;
                text-decoration: underline;
            }
        }
    }
}