
header{
    width: 100%;
    min-height: 60px;
    background-color: $BASE_WHITE;
    border-bottom:1px solid $LINE;
    padding: 1rem 2rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    h1{
        font-size: $size-text-l;
        img{
            max-width: 180px;
        }
    }
    nav{
        ul{
            display: flex;
            li{
                margin-right: 1rem;
                :last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
