
header{
    width: 100%;
    min-height: 60px;
    background-color: $BASE_WHITE;
    border-bottom:1px solid $LINE;
    padding: 1rem 2rem;
    display: flex;
    align-items:center;
    justify-content: space-between;
    .header-logo{
        font-size: $size-text-l;
        img{
            max-width: 180px;
        }
    }
    nav{
        .global-nav{
            display: flex;
            .global-nav-list{
                margin-right: 1rem;
                text-align: center;
                padding: 0.5rem 2rem;
                :last-child{
                    margin-right: 0;
                }
                .global-nav-titile{
                    font-size: $size-text;
                }
                .global-nav-subTitile{
                    font-size: $size-text-xxs;
                }
                &.is-active{
                    a{
                        color: $SECONDARY;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}
